<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSPresentacion.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CSAdministracion.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CSFormularios.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CSReembolso.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="CSAdministracion.Properties.Settings.halconConnectionString"
         connectionString="Data Source=192.168.0.2;Initial Catalog=halcon;User ID=sa;Password=E727cd9b1f"
         providerName="System.Data.SqlClient" />
    <add name="CSPresentacion.Properties.Settings.halconConnectionString"
         connectionString="Data Source=192.168.0.2;Initial Catalog=halcon;User ID=sa;Password=E727cd9b1f"
         providerName="System.Data.SqlClient" />
    <add name="192.168.0.2"
         connectionString="XpoProvider=MSSqlServer;data source=192.168.0.2;user id=SA;password=E727cd9b1f;initial catalog=halcon;Persist Security Info=true" />
    <add name="localhost_halcon_Connection"
         connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=fmora;password=12;initial catalog=halcon;Persist Security Info=true" />
    <add name="localhost_HalconCredito_Connection"
         connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=HalconCredito" />
    <add name="Servidor"
         connectionString="XpoProvider=MSSqlServer;data source=186.77.179.194;user id=;password=;initial catalog=halcon;Persist Security Info=true" />
    <add name="localhost_Connection"
         connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=halcon" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <CSPresentacion.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Pass" serializeAs="String">
        <value />
      </setting>
      <setting name="Recordar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IdSucursal" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="IdCompany" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>SA</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>E727cd9b1f</value>
      </setting>
      <setting name="DataBase" serializeAs="String">
        <value>Halcon</value>
      </setting>
      <setting name="TimeOut" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="RecordarSucursal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserSkin" serializeAs="String">
        <value>The Bezier</value>
      </setting>
      <setting name="UserPalette" serializeAs="String">
        <value>The Bezier</value>
      </setting>
    </CSPresentacion.Properties.Settings>
    <CSAdministracion.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Pass" serializeAs="String">
        <value />
      </setting>
      <setting name="Recordar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IdSucursal" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="IdCompany" serializeAs="String">
        <value>-1</value>
      </setting>
    </CSAdministracion.Properties.Settings>
    <CSFormularios.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Pass" serializeAs="String">
        <value />
      </setting>
      <setting name="Recordar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IdSucursal" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="IdCompany" serializeAs="String">
        <value>-1</value>
      </setting>
    </CSFormularios.Properties.Settings>
    <CSReembolso.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Pass" serializeAs="String">
        <value />
      </setting>
      <setting name="Recordar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IdSucursal" serializeAs="String">
        <value>-1</value>
      </setting>
    </CSReembolso.Properties.Settings>
  </userSettings>
</configuration>